<footer class="page-footer darken-3 text-white justify-content-center">
    <div class="container ">
        <div class="row">
            <div class="text-center justify-content-center col-md-12 mx-auto my-1">
                <!-- Instagram -->
                <a class="fa fa-instagram" href="https://www.instagram.com/rezaboshehry/" target="_blank"></a>
                
                <!-- Gmail -->
                <a class="fa fa-envelope" href="mailto:reza.boshehry@gmail.com" target="_blank"></a>
            </div>
        </div>
        
    </div>
    <div class="footer-copyright text-center py-1 my-1">Created with &nbsp &#10084 &nbsp by Reza Boushehri(BB) </div>
</footer>