
    <div class="toast-container position-fixed top-0 end-0 p-3 overflew-auto" style="max-height: 500px;" id="toastContainer">
    <!-- Toast notifications will be appended here -->
    </div>

<footer class="page-footer position-sticky bottom-0 z-3 d-none blurBackDark justify-content-center">
    <div class="container ">
        <div class="row">
            <div style="    display: flex;" class="text-center justify-content-center col-md-12 mx-auto my-1">
                <!-- Instagram -->
                <a class="btn fa fa-instagram" href="https://www.instagram.com/rezaboshehry/" target="_blank">
                    <i class=" bi bi-instagram"></i>
                </a>
                
                <!-- Gmail -->
                <a class="btn fa fa-envelope" href="mailto:reza.boshehry@gmail.com" target="_blank">
                    <i class="bi bi-envelope-at-fill"></i> 
                </a>
            </div>
        </div>
    
    </div>
    



    <div class="footer-copyright text-center py-1 my-1">Created with &nbsp &#10084 &nbsp by Reza Boushehri </div>
    <script src="https://mc.farahoosh.ir/metachat/theme.js"></script>
    <script src="https://mc.farahoosh.ir/metachat/notification.js"></script>
    <script src="https://mc.farahoosh.ir/metachat/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        // Function to get URL parameters
        function getQueryParam(name) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        }
        
        // Check for 'error' in URL and show alert
        const errorMessage = getQueryParam('error');
        if (errorMessage) {
            Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: errorMessage,
                confirmButtonColor: '#d33',
                customClass: {
                    popup: 'backdrop-blur-chat-bg userFg-color' // Add custom class here
                }
            });
        }
    </script>
</footer>
