<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="MOT4BrvonNU3M3gRjaHaIKyGUOw8Ii4EOSpG1Qj1Chg" />
    <meta name="description" content="Chatting web app for different people to get along with one another. Chat are deleted after single use">
    <meta name="keywords" content="Convoo, Convo, Chat, Chatting, HerkouApp, heroku app ">
    <meta name="author" content="Sparsh Jain">
    <link rel="icon" href="../svg/logo.svg" type='icon/svg'>
    <title>Convo</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" type='text/css' href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Nunito&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
    <script src="/js/bootstrap.min.js" ></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/browser-image-compression@latest/dist/browser-image-compression.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/umd/popper.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type='text/css' href="/css/style.css">
    <!-- <link rel="stylesheet" href="/css/font-awesome.min.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Nunito&display=swap" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/sweetalert2.min.css">
    <script src="/js/sweetAlert.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script type="text/javascript" src="/js/browser-image-compression.js"></script>
    <!-- <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js"></script> -->

</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href='/'><img class='img-fluid' src='../svg/logo.svg' width='45px'><span class='my-auto'>&nbspMETA CHAT</span></a>
        <% if(!currentUser){ %>
            <a class="btn btn-primary btn align-right text-white" href='/login'>login <i class='fa fa-user'></i></a>
            <% } else { %>
                <div class="dropdown align-right">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= currentUser.first_name.trim() + " " + currentUser.last_name.trim() %>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right bg-secondary" aria-labelledby="dropdownMenuButton">
                        <button id="settingsButton" class="btn btn-dark btn-xs dropdown-item">
                            Settings
                        </button>
                        <a class="btn btn-dark btn-xs dropdown-item" href="/logout">
                            Log Out <i class="fa fa-sign-out"></i>
                        </a>
                    </div>
                </div>
                
               
    </nav>
    <div id="settingsPanel" class="settings-panel">
         <!-- Close button -->
         <button id="closeSettings" class="close-btn"><i class="bi bi-x-square" style="font-size: larger;"></i></button>
        <h5>Customize Chat Window</h5>
        <label for="margin-left">Margin Left (%)</label>
        <input type="number" id="margin-left" value="10" min="0" max="50">
        <br>

        <label for="margin-right">Margin Right (%)</label>
        <input type="number" id="margin-right" value="10" min="0" max="50">
        <br>

        <label for="chatWindowBg-color">Background Color</label>
        <input type="color" id="chatWindowBg-color" value="#434343">
        <br>
        <label for="chatWindowFg-color">Font Color(date,event,...)</label>
        <input type="color" id="chatWindowFg-color" value="#0000">
        <hr>
        <h5>User Settings</h5>
        <label for="bgColorPicker">Select Background Color:</label>
        <input type="color" id="bgColorPicker" value="#ffffff" />
        <br>
        <label for="fgColorPicker">Select font Color:</label>
        <input type="color" id="fgColorPicker" value="#ffffff" />
        <br>
        <label for="fontSizeSelector">Select Font Size:</label>
        <div>
            <label for="fontSizeRange">Font Size:</label>
            <input 
                type="range" 
                id="fontSizeRange" 
                min="12" 
                max="24" 
                step="1" 
                value="16" 
            />
            <span id="fontSizeValue">16px</span>
        </div>        
        <div>
            <label for="borderRadRange">Border Curve degree:</label>
            <input 
                type="range" 
                id="borderRadRange" 
                min="0" 
                max="15" 
                step="1" 
                value="5" 
            />
            <span id="borderRadSet">5px</span>
        </div>        

        <div id="previewArea" class="preview-area rounded overflow-auto shadow">
            <div dir="auto" style="border-radius: 6px;text-align: center;border: 1px solid #232323;margin: 10px 0;font-weight: bold;">
                14/11/1382
            </div>
            <div class="mess p-2 mr-1 m-2 rounded col-md-6">
                <h6 style="font-style: italic;text-align: start;"> <%= currentUser.first_name.trim() + " " + currentUser.last_name.trim() %></h6>
                <div id="chat" class="p-3 container" style="display:flex;justify-content:flex-start">
                    <p dir="auto">
                        This is a live preview area where you can see your changes.
                    </p>
                    
                </div>
            </div>
        </div>
        <button id="saveSettings" class="btn btn-primary">Save Settings</button>
        <button id="resetSettings" class="btn btn-warning">Reset Settings</button>
    </div>

    <% } %>
</body>
</html>