<%-include('partials/header.ejs') %>
<p style="display:none" id='roomID'><%=roomID%></p>
<p style="display:none" id='username'><%=username%></p>
<!-- <div id="alert" class="px-3"></div> -->

<div data-bs-theme="dark" id="main">

    <div id="btns" class="">

       
        
        <!-- joinRoom -->
        <div class="modal fade" id="joinRoom" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">پیوستن به اتاق</h5>
                        <button type="button" class="close btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body row justify-content-center">
                        <div class="input-group m-4">
                            <div class="input-group-prepend">
                                <div class="input-group-text">شناسه اتاق</div>
                            </div>
                            <input type="text" dir="auto" class="roomNameInput form-control" id="joinRoomName" placeholder="Room id">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick='joinRoom()'>پیوستن</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- createRoom -->
        <div class="modal fade" id="createRoom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">ساخت اتاق</h5>
                        <button type="button" class="close btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body row justify-content-center">
                        <div class="input-group m-4">
                            <div class="input-group-prepend">
                                <div class="input-group-text">نام اتاق</div>
                            </div>
                            <input type="text" class=" roomNameInput form-control" id="createRoomName" placeholder="Room name">
                        </div>
                        <div class="input-group m-4">
                            <div class="input-group-prepend">
                                <div class="input-group-text">اعضا اتاق</div>
                            </div>
                            <input type="text" class=" roomMembersInput form-control" id="createRoomMembers" placeholder="Room members">
                        </div>
                        <p class="text-muted">
                            اگر به یک گروه (2 نفر یا بیشتر) نیاز دارید، بین هر شناسه "،" اضافه کنید
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick='createRoom()'>ساختن</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div id="mainWrapper" class="container-fluid ">
        
        <div class="row h-100 flex-nowrap">
            <div id="side_contact" class="row m-0 p-0 col-12 gap-1 col-md-4 col-lg-3 border-end hide-scrollbar">
                <div class="position-relative  m-0  col-12 p-0">
                    <div class="row col-12 pb-2 g-3 mt-0 gap-2 m-auto justify-content-center position-sticky top-0  backdrop-blur-chat-bg z-1">
                        <div class="col-12 ">
                            <div class="input-group">
                                <div class="input-group-text"><i class=" bi bi-search"></i> </div>
                                <input placeholder="Search title or room-id" id="search_roomList" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="backdrop-blur-chat-bg">
                        <ul class="list-group px-0 container rounded overflow-y-auto overflow-x-hidden hide-scrollbar" id="roomList_ul">
                            <!-- dynamically inserted contacts -->
                        </ul>
                    </div>
                    <div class="dropdown col-auto position-fixed bottom-0   p-0 m-1 ">
                        <button class="btn  btn-meta col-auto rounded-circle" type="button" data-bs-toggle="dropdown"><i class="fs-5 bi bi-plus-lg"></i></button>
                        <div class="dropdown-menu row gap-5 col-auto bg-transparent border-0" aria-labelledby="dropdownMenuButton">
                            <div class="col-12 my-2">
                                <button class="btn text-start m-auto btn-meta animate__animated animate__fadeInUp col-auto  rounded-5 " data-bs-toggle="modal" data-bs-target="#joinRoom"> <i class="fs-5 bi bi-door-open"></i> پیوستن اتاق</button>
                            </div>
                            <div class="col-12 my-2">
                                <button class="btn text-start m-auto btn-meta animate__animated animate__fadeInUp col-auto  rounded-5 " data-bs-toggle="modal" data-bs-target="#createRoom"><i class="fs-5 bi bi-cloud-plus"></i> ساختن اتاق</button>
                            </div>
                    
                        </div>
                    </div>
                </div>
            </div>
            <!-- CONTACT LIST (Sidebar) -->


            <!-- CHAT WINDOW -->
            <div id="chatArea" class="col d-flex flex-column m-0 h-100 overflow-hidden position-relative">
                
                <div id="chat-window" class="flex-grow-1 d-flex flex-column h-100 flex-nowrap hide-scrollbar position-relative">
                    <div id='roomInfo' class='row col-12 justify-content-between overflow-x-auto hide-scrollbar'></div>
            
                    <!-- <div id="alert" dir="auto" style=" text-align: center;"></div> -->
                    <div id="headTag" class="col-12 row mx-auto z-1 position-absolute"   dir="auto" style="text-align: center;margin-top: 45px;"></div>
                    <div id="output" class="px-1 mt-1  container rounded overflow-y-auto overflow-x-hidden hide-scrollbar">
                    </div>            
            
                </div>
            
                <div id="chat_windowFooter" class="col-12 position-sticky bottom-0 row gap-2 col-md-auto p-0 mb-1 m-auto">
                    <div class="col-12 d-flex gap-1 mx-auto">
                        <div class="col-auto m-auto">
            
                            <button id="down" class="btn rounded-circle animate__animated animate__zoomIn" style="display: none;" onclick="scrollDown()">
                                <strong><i class="bi bi-arrow-down"></i></strong>
                                <span id="notifCount" class="btn btn-danger">0</span>
                            </button>
                        </div>
                    <!-- reply -->
                        <div class="col" style="max-width: inherit;">
                            
                            <div id="file-input_res" class="backdrop-blur-chat-bg col-12 message overflow-x-auto d-none gap-1" style=" align-items: center; padding: 10px; transform: translateY(0px); display: flex; border-radius: 8px;">
                            </div>
                            <div id="form-inline" class='form-inline row m-auto col m-2 rounded-5' style='display:none;     flex-wrap: wrap;'>
                                <div id="replyBox" class="card shadow col-md-12 message hide d-flex" style=" align-items: center; justify-content: space-between; padding: 10px;">
                                    <h6 style="margin: 0; font-style: italic; font-size: 14px; text-align: start;"></h6>
                                    <div style="flex: 1; margin-left: 10px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; " id="replyMessageContent">
                                    </div>
                                </div>
            
                                <!-- ------------------ -->
                                <div class="col d-flex messageInputDiv shadow bg-theme rounded-5 py-1" style="max-width: inherit;align-items: center;">
                                    <div
                                        id="editable-message-text"
                                        class=" form-control rounded  my-auto allow-selection flexible-div "
                                        contenteditable="true"
                                        role="textbox"
                                        dir="auto"
                                        tabindex="0"
                                        rows="1"
                                        aria-label="Message"
                                        aria-placeholder="Message ..."
                                        autocomplete="on">
                                    </div>
                                    <div class="button-container col-auto gap-1 d-flex mx-auto">
                                        <button id="file-inputBtn" class="btn rounded-pill btn-color border-0 focus-ring-0 fs-5  file-button message_btn">
                                            <input type="file" accept="" id="file-input" multiple>
                                            <label class="input-label" for="file-input"><i style="    font-size: large;" class="bi text-secondary   bi-paperclip"></i></label>
                                        </button>
                                        <button class="btn  btn text-white btn-primary animate__animated animate__faster animate__zoomInLeft animate__zoomIn  rounded-circle send-button message_btn d-none " type="submit" id="button">
                                            <i class="bi bi-send-fill"></i>
                                        </button>
                                        <div id="recordSection" class="  col-auto d-flex">
                                            <!-- در انتهای footer چت (یک مکان مناسب برای دکمه‌های جدید) -->
                                            <div id="recordStatus" class="d-none me-1 gap-1 align-items-center">
                                                <span id="timer" class="text-secondary">00:00.00</span>
                                                <span id="blinker" class="blinker"></span>
                                            </div>
                                            <div id="recordControls" class="d-flex col-auto m-auto btn-group align-items-center"></div>
                                            <div class="col-auto m-auto overflow-hidden rounded">
            
                                                <!-- دکمه ضبط -->  <button id="recordBtn" class="col-auto animate__animated  btn btn-primary text-white rounded-circle">  <i class="bi bi-mic-fill m-auto"></i> </button>
                                                <!-- دکمه توقف -->  <button id="stopBtn" class="col-auto animate__animated border backdrop-blur shadow text-danger btn   d-none" disabled=""> <i class="bi bi-square-fill m-auto"></i>  </button>
                                            </div>
            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                <div id="messageMenu">
                    <div class="messageMenuHeader"></div>
                    <div class="messageMenubody"></div>
                </div>
            </div>
        </div>
    </div>


    <script  src='../socket_conn.js'></script>
    <script  src='../chat_v0501.js'></script>
    <script src='../roomManagement.js' ></script>
    <script src="../setting.js" ></script>

    <%-include('partials/footer.ejs')%>
        </body>

        </html>
 