/* HTML: <div class="loader"></div> */
.typingLoader {
    width: 22px;
    height: 5px;
    aspect-ratio: 4;
    --c:rgb(var(--user-fg-color)) 90%,#0000;
    background: 
      radial-gradient(circle closest-side at left  6px top 50%,var(--c)),
      radial-gradient(circle closest-side                     ,var(--c)),
      radial-gradient(circle closest-side at right 6px top 50%,var(--c));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: l4 500ms infinite alternate;
  }
  @keyframes l4 {
      to{width:25px;aspect-ratio: 1}
  }